body {
    margin: 0;
    padding: 0;
    background-image: url('calc.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
  }
  
  .calculator {
    width: 300px;
    margin: 50px auto;
    background-color: rgba(195, 149, 149, 0.8);
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc; /* Add border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow */
    transition: box-shadow 0.3s; /* Add transition */
  }
  
  .calculator:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Change shadow on hover */
  }
  
  .display {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    text-align: right;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  button {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  